* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.collapse_catelogue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    padding: 6px;
    cursor: pointer;
    border-color: #1ab394;
    color: black;
    background-color: white;
    border-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.collapse-show {
    padding-top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding: 0 20px 0 20px;
    display: block !important;;
    pointer-events: none;
    transition: all 0.2s linear !important;
}

.collapse-show.active {
    height: auto;
    pointer-events: all;

}

.catelogue {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none !important;
}

ul>li>span {
    display: flex !important;
    align-items: center;
    padding: 2px;
    column-gap: 5px;

}

.fa-caret-right {
    transition: all 0.25s linear !important;
    font-size: 14px;
}

.fa-caret-right.active {
    transform: rotate(90deg) !important;
}

.catelogue_child {
    padding-left: 20px;
}